


default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
  timeout: 5000

development:
  <<: *default
  database: gallery_db_development
  username: markpaul
  password: markpaul
  host: localhost

test:
  <<: *default
  database: gallery_db_test
  username: markpaul
  password: markpaul
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
